
=pod

=head1 NAME

DBIx::Cookbook::Recipe::Searching::fetch_all - recipe to fetch all records

=head1 DESCRIPTION

Select all records from the C<actor> table, with the option to order by a column.

Sample Usage:

  ${orm}_cmd fetch_all --order_by last_name     # orm = dbic, skinny, rose, etc

=head1 RECIPES

=head2 DBIx::Class

[% INCLUDE DBIC/Command/fetch_all.pm | pod_code %]

