
=pod

=head1 NAME

DBIx::Cookbook::Recipe::Searching::grouping - GROUP BY

=head1 DESCRIPTION

  SELECT 
    first_name, last_name, COUNT(film_actors.actor_id) 
  FROM 
    actor INNER JOIN film_actors USING (actor_id)
  GROUP BY
    film_actors.actor_id

Sample Usage:

  shell> ${orm}_cmd grouping  # orm = dbic, skinny, rose, etc

=head1 RECIPES

=head2 DBIx::Class

[% INCLUDE DBIC/Command/grouping.pm | indent %]

=head2 DBIx::Custom

[% INCLUDE Custom/Command/grouping.pm | indent %]

